* {
  box-sizing: border-box;
  background-color: #abaeac;
  color: #3c4946;
}

html {
  font-size: 12px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.full-width-image {
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

.full-width-image img {
  width: 100%;
  height: auto;
  display: block;
}

.full-width-image figcaption {
  padding: 10px;
  font-size: 14px;
  color:#3c4946;
}

h1, h2 {
  font-size: 30px;
  text-align: center;
}

figure {
  text-align: center;
  padding: 20px;
}

#image {
  max-height: 100vh;  /* 👈 Nuevo: limita el alto de la imagen al 60% del alto de pantalla */
  object-fit: cover; /* 👈 Esto mantiene buen encuadre si recorta */
  background-color: transparent;
}

#img-caption {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.gallery img {
  width: 100%;
  max-width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

ul {
  font-size: 15px;
  text-align: justify;
}

p, a {
  text-align: center;
  text-decoration: none;
}

li {
  list-style: none;
}

figure {
  text-align: center;
  padding: 0;
}